.findNew--layout {
  border: 2px solid black;
}

.findNew-box {
  border: 1px solid red;
}

.findNew-button {
  border: 1px solid black;
  background-color: lightblue;
}

#logout {
  display: none;
}

.col-md-3 {
  padding: 20px;
  min-height: 600px;
  // width: 300px;
  overflow: auto;
  // border: 1px solid black;
  // border-radius: 10px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-md-3:active {
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .1s ease-out;
  transform: translate(0px, 0px);
  cursor: pointer;
}

.row {
  margin: 20px 0;
}

img.poster {
  // height: 100%;
  width: 100%;
  padding: 20px;
}

// .center-block {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

body {
  background-color: RGBA(248, 248, 248, 1.00);
}
