<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="collapse navbar-collapse">
     {{!-- id="bs-example-navbar-collapse-1"> --}}
      <div class="navbar-form navbar-left" role="search">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Find new movies</a></li>
          <li><a href="#">Search your movies</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
